@import url('semantic-ui-css/semantic.min.css');

h1{
  font-family: "Montserrat", sans-serif;
}

.ui.fixed.menu {
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}
.ui.fixed.menu .item {
  color: black;
}

.logo{
  border: none;
}

.ui.fixed.menu .logo {
    transform: scale(1.8); /* Adjust the scale value as needed */
    padding-top: 18%;
}

.carousel-root{
  display: flex;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}

#footer-main {
  background: #2E2E2E;
}

.ui.divider {
  margin-left: auto;
  margin-right: auto;
}

.shoppingcartcircle:not(.innershoppingcartcircle) {
  position: absolute;
  background-color: rgba(198, 198, 198, 0.8);
  top: 7%;
  left: 74%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
