@import url('semantic-ui-css/semantic.min.css');

*{
  font-family: "Montserrat", sans-serif;
}


.ui.fixed.menu {
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  padding: 0;
}
.ui.fixed.menu .item {
  color: black;
}

.logo{
  border: none;
}

.ui.fixed.menu .logo {
    transform: scale(1.8); /* Adjust the scale value as needed */
    padding-top: 18%;
}

.carousel-root{
  display: flex;
  margin-top: 65px;
  justify-content: center;
  align-items: center;
}

#footer-main {
  background: #2E2E2E;
}

.ui.divider {
  margin-left: auto;
  margin-right: auto;
}

.shoppingcartcircle:not(.innershoppingcartcircle) {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 7%;
  left: 74%;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.modalcontent{
  margin-top: 2em;
}

.closebutton:not(.closebuttonicon){
  background-color: rgba(255, 255, 255);
  position: absolute;
  width: 5.5%;
  top: 6.5%;
  left: 90%;
}

.closebuttonicon{
  position: relative;
  right: 120%;
}

.pay:hover{
  background-color: rgba(245, 245, 245) !important;
}

.addtocartbutton{
  font-family: "Montserrat", sans-serif !important;
  height: 3rem;
  transform: scale(1.2);
}

.pay{
  font-family: "Montserrat", sans-serif !important;
  height: 3rem;
  transform: scale(1.2);
}

.popupcartheader{
  font-family: "Montserrat", sans-serif !important;
}

.popupcartfooter{
  margin-top: 2.5vh;
  margin-left: 0.5vw;
  height: 15vh;
}

.popupcartcontent{
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 28vw;
  overflow-y: auto;
}

.sizebutton:hover{
  background-color: white !important;
}

.sizebutton.active:hover {
  background-color: black !important;
}

.sizebutton{
  border: 2px solid black !important;
  box-shadow: none !important;
}

.cartitemimage{
  scale: 1.1;
}

.itemheader{
  margin-top: -1.1vh !important;
}

.ui.input.shopping-cart-input > input{
  text-align: center !important;
}

.ui.search .results .result .image {
  width: 100px !important;
  height: 100px !important;
  background-size: contain !important;
}

.price{
  color: black !important;
}

.results.transition.visible{
  width: 400px;
}

.custom-search .title,
.custom-search .description,
.custom-search .price {
  display: block;
  width: 100%;
}

.ui.search .results {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

.shopping-form{
  width: 100% !important;
  font-family: "Montserrat", sans-serif !important;
}

.province-dropdown{
  width: 32% !important;
}

.shoppingformpersonalinput{
  font-family: "Montserrat", sans-serif !important;
}